!!! Strict
%html
  %head
    %title Broadcast.IO
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/site.css'}
    %script{:type=>'text/javascript', :src=>'http://www.google.com/jsapi'}
    %script{:type=>'text/javascript', :charset=>'utf-8'}= "google.load('jquery', '1.4.2');"
    %script{:type=>'text/javascript', :src=>'/js/site.js'}
  %body
    #wrapper
      #header
        %h1 Broadcast.io
        %p The Real Time Internet Machine provides a quick way to create a real time data feed of any information on your website. This service provides you with 2 things:
        %ol
          %li A url too which you will POST feed updates
          %li A bit of javascript that to include in your web pages that will pull in the real time feed.
        #creator
          %div{:class=>'button'}= 'Create a Real-Time Machine'

