!!! Strict
%html
  %head
    %title The Real Time Internet Machine.
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/site.css'}
    %script{:type=>'text/javascript', :src=>'/js/site.js'}
  %body
    #wrapper
      = yield